.home-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/src/images/markus-winkler-zRbSeCQbl8k-unsplash.jpg);
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-image .container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.greeting-text {
  display: flex;
  justify-content: center;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 6rem;
  color: white;
}

.order-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.order-buttons a {
  margin: 0.5rem;
}

@media (max-width: 480px) {
  .greeting-text {
    font-size: 2.5rem;
  }
  .order-button-text {
    font-size: 1rem;
  }
}
